<h2>portland, OR</h2>

<div class="row">
  <div class="col-4 col-md-4">
    <h3>community</h3>
    <ul>
      <li>activities</li>
      <li>artists</li>
      <li>events</li>
      <li>general</li>
      <li>pets</li>
      <li>politics</li>
      <li>local news</li>
      <li>volunteers</li>
    </ul>

    <h3>personals</h3>
    <ul>
      <li>platonic</li>
      <li>women seeking women</li>
      <li>women seeking men</li>
      <li>men seeking men</li>
      <li>men seeking women</li>
      <li>casual encouters</li>
      <li>missed connections</li>
      <li>rants and raves</li>
      <li>misc romance</li>
    </ul>

    <h3>discussion forums</h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>
  </div>


  <div class="col-4 col-md-4">
    <h3>housing</h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>

    <h3>for sale</h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>

    <h3>services</h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>
  </div>

  <div class="col col-md-4">
    <h3>jobs</h3>
    <ul>
      <li>accounting</li>
      <li>food/bev/hosp</li>
      <li>medical/health</li>
      <li>tech support</li>
      <li>transport</li>
      <li>tv/film</li>
      <li>web/info design</li>
    </ul>

    <h3>gigs</h3>
    <ul>
      <li>computer</li>
      <li>creative</li>
      <li>event</li>
      <li>labor</li>
      <li>talent</li>
      <li>writing</li>
    </ul>
  </div>

</div>
