<h3 class="location">portland, OR</h3>

<div class="row">
  <div class="col-1 col-md-3" id="gray">

    <h4><a routerLink="post">post to classifieds</a></h4>

  </div>

  <div class="col-3 col-md-3">
    <h3><a routerLink="community">community</a></h3>
    <ul>
      <a routerLink="list/1"><li>activities</li></a>
      <a routerLink="list/2"><li>artists</li></a>
      <a routerLink="list/3"><li>events</li></a>
      <a routerLink="list/4"><li>general</li></a>
      <a routerLink="list/5"><li>pets</li></a>
      <a routerLink="list/6"><li>politics</li></a>
      <a routerLink="list/7"><li>local news</li></a>
      <a routerLink="list/8"><li>volunteers</li></a>
    </ul>

    <h3><a routerLink="personals">personals</a></h3>
    <ul>
      <a routerLink="list/9"><li>platonic</li></a>
      <a routerLink="list/10"><li>women seeking women</li></a>
      <a routerLink="list/11"><li>women seeking men</li></a>
      <a routerLink="list/12"><li>men seeking men</li></a>
      <a routerLink="list/13"><li>men seeking women</li></a>
      <a routerLink="list/14"><li>casual encouters</li></a>
      <a routerLink="list/15"><li>missed connections</li></a>
      <a routerLink="list/16"><li>rants and raves</li></a>
      <a routerLink="list/17"><li>misc romance</li></a>
    </ul>

    <h3><a routerLink="discussion">discussion forum</a></h3>
    <ul>
      <a routerLink="list/18"><li>arts</li></a>
      <a routerLink="list/19"><li>history</li></a>
      <a routerLink="list/20"><li>outdoor</li></a>
      <a routerLink="list/21"><li>tax</li></a>
      <a routerLink="list/22"><li>sports</li></a>
      <a routerLink="list/23"><li>yoga</li></a>
      <a routerLink="list/24"><li>photo</li></a>
      <a routerLink="list/25"><li>jokes</li></a>
      <a routerLink="list/26"><li>diet</li></a>
    </ul>
  </div>


  <div class="col-3 col-md-3">
    <h3><a routerLink="housing">housing</a></h3>
    <ul>
      <a routerLink="list/27"><li>apts/housing</li></a>
      <a routerLink="list/28"><li>housing swap</li></a>
      <a routerLink="list/29"><li>housing wanted</li></a>
      <a routerLink="list/30"><li>office</li></a>
      <a routerLink="list/31"><li>rooms/shared</li></a>
      <a routerLink="list/32"><li>rooms wanted</li></a>
      <a routerLink="list/33"><li>sublets</li></a>
      <a routerLink="list/34"><li>vacation rentals</li></a>
      <a routerLink="list/35"><li>parking/storage</li></a>
    </ul>

    <h3><a routerLink="for">for sale</a></h3>
    <ul>
      <a routerLink="list/36"><li>antiques</li></a>
      <a routerLink="list/37"><li>books</li></a>
      <a routerLink="list/38"><li>cars</li></a>
      <a routerLink="list/39"><li>electronics</li></a>
      <a routerLink="list/40"><li>furniture</li></a>
      <a routerLink="list/41"><li>household</li></a>
      <a routerLink="list/42"><li>tickets</li></a>
      <a routerLink="list/43"><li>tools</li></a>
      <a routerLink="list/44"><li>wanted</li></a>
    </ul>

    <h3><a routerLink="services">services</a></h3>
    <ul>
      <a routerLink="list/45"><li>automotive</li></a>
      <a routerLink="list/46"><li>beauty</li></a>
      <a routerLink="list/47"><li>creative</li></a>
      <a routerLink="list/48"><li>event</li></a>
      <a routerLink="list/49"><li>financial</li></a>
      <a routerLink="list/50"><li>legal</li></a>
      <a routerLink="list/51"><li>pet</li></a>
      <a routerLink="list/52"><li>reak estate</li></a>
      <a routerLink="list/53"><li>travel</li></a>
    </ul>
  </div>

  <div class="col-3 col-md-3">
    <h3><a routerLink="jobs">jobs</a></h3>
    <ul>
      <a routerLink="list/54"><li>accounting</li></a>
      <a routerLink="list/55"><li>food/bev/hosp</li></a>
      <a routerLink="list/56"><li>medical/health</li></a>
      <a routerLink="list/57"><li>tech support</li></a>
      <a routerLink="list/58"><li>transport</li></a>
      <a routerLink="list/59"><li>tv/film</li></a>
      <a routerLink="list/60"><li>web/info design</li></a>
    </ul>

    <h3><a routerLink="gigs">gigs</a></h3>
    <ul>
      <a routerLink="list/61"><li>computer</li></a>
      <a routerLink="list/62"><li>creative</li></a>
      <a routerLink="list/63"><li>event</li></a>
      <a routerLink="list/64"><li>labor</li></a>
      <a routerLink="list/65"><li>talent</li></a>
      <a routerLink="list/66"><li>writing</li></a>
    </ul>
  </div>

</div>
