<h3>portland, OR</h3>

<div class="row">
  <div class="col-3 col-md-3">

    <h4><a routerLink="post">post to classifieds</a></h4>

  </div>

  <div class="col-3 col-md-3">
    <h3><a routerLink="community">community</a></h3>
    <ul>
      <a routerLink="list/1"><li>activities</li></a>
      <a routerLink="list/2"><li>artists</li></a>
      <a routerLink="list/3"><li>events</li></a>
      <a routerLink="list/4"><li>general</li></a>
      <a routerLink="list/5"><li>pets</li></a>
      <a routerLink="list/6"><li>politics</li></a>
      <a routerLink="list/7"><li>local news</li></a>
      <a routerLink="list/8"><li>volunteers</li></a>
    </ul>

    <h3><a routerLink="personals">personals</a></h3>
    <ul>
      <li>platonic</li>
      <li>women seeking women</li>
      <li>women seeking men</li>
      <li>men seeking men</li>
      <li>men seeking women</li>
      <li>casual encouters</li>
      <li>missed connections</li>
      <li>rants and raves</li>
      <li>misc romance</li>
    </ul>

    <h3><a routerLink="discussion">discussion forum</a></h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>
  </div>


  <div class="col-3 col-md-3">
    <h3><a routerLink="housing">housing</a></h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>

    <h3><a routerLink="for">for sale</a></h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>

    <h3><a routerLink="services">services</a></h3>
    <ul>
      <li>arts</li>
      <li>history</li>
      <li>outdoor</li>
      <li>tax</li>
      <li>sports</li>
      <li>yoga</li>
      <li>photo</li>
      <li>jokes</li>
      <li>diet</li>
    </ul>
  </div>

  <div class="col-3 col-md-3">
    <h3><a routerLink="jobs">jobs</a></h3>
    <ul>
      <li>accounting</li>
      <li>food/bev/hosp</li>
      <li>medical/health</li>
      <li>tech support</li>
      <li>transport</li>
      <li>tv/film</li>
      <li>web/info design</li>
    </ul>

    <h3><a routerLink="gigs">gigs</a></h3>
    <ul>
      <li>computer</li>
      <li>creative</li>
      <li>event</li>
      <li>labor</li>
      <li>talent</li>
      <li>writing</li>
    </ul>
  </div>

</div>
